#header-nav {
	background-color: #595959;
	border-radius: 0;
	border: 0;
}
#logo-img {
	background: url('logo2.png') no-repeat;
	width: 60px;
	height: 50px;
	margin-top: 0;
	
}
#nav-list a:hover {
	background: #000000;
	
	}
#nav-list a:active {
	background:#3CB371 ;
	
	}

#nav-list a {
	font-size:1.2em;
} 
#head a:hover
{
background: #3CB371;
}


.navbar-brand span {
	font-size:1.2em;
} 

#logo-img {
	background: url('logo2.png') no-repeat;
	width: 60px;
	height: 45px;
	margin-top: 0;
	margin-left:0;
	margin-right: 10px;
}
#band a:hover 
{
background: #000000;	
}

#nav-list span
{
	color: #ffffff;
}
#band span{
	color: #ffffff;
}
#band a:active 
{
background: #3CB371 ;	
}